@import url(https://fonts.googleapis.com/css?family=Roboto:300);



/* The Close Button */
.modal-close {
    /* Position it in the top right corner outside of the modal */
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

/* Close button on hover */
.modal-close:hover,

.modal-close:focus {
    color: red;
    cursor: pointer;
}

.modal-form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.modal-form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.modal-text-header {
    color: #1b6d85;
    font-family: "Roboto", sans-serif;
}

.modal-form .btn-submit {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #8bcad7;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}
.modal-form .btn-submit:hover,.form button:active,.form button:focus {
    background: #98dae7;
}
.modal-form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}
.modal-form .message a {
    color: #8bcad7;
    text-decoration: none;
}
.modal-form .register-form {
    display: none;
}

body {
    background: #8bcad7;
}